/*
* @Author: Nicky
* @Date:   2017-09-26 13:16:42
* @Last Modified by:   15220
* @Last Modified time: 2017-09-26 16:09:52
*/
.validationPage{
	position: relative;
	height: 100%;
	width: 100%;
}
.pay-info{
	margin-bottom: 0.3rem;
}
.info h4{
	font-size: 0.26rem;
	height: 0.77rem;
	line-height: 0.77rem;
	border-bottom: 1px solid #ddd;
	padding: 0 2.5%;
	color: #888;
}
.info .info-con .info-item{
	padding: 0.1rem 2.5%;
	font-size: 0.32rem;
	overflow: hidden;
	background-color: #fff;
	color: #333;
}
.info .info-con .info-item label{
	display: inline-block;
	width: 40%;
	color: #333;
}
.info .info-con .info-item input{
	width: 58%;
	font-size: 0.32rem;
	color: #333;
	height: 0.55rem;
	text-align: right;
}
/*卡号信息*/
.cart-info{
	border-bottom: 1px solid #ddd;
}

.pay-info .pay-info-con .info-item:nth-child(2) .pay-attention{
	color: #1BCFC6;
	font-size: 0.26rem;
}
.pay-info .pay-info-con .info-item:last-child{
	padding: 0.2rem 2.5%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.pay-info .pay-info-con .info-item:last-child label{
	float: right;
	width: 25%;
}
.pay-info .pay-info-con .info-item label i{
	display: inline-block;
	width: 0.26rem;
	height: 0.28rem;
	margin-right: 0.08rem;
	background: url('../images/zhima-icon.jpg') no-repeat center center;
	vertical-align: bottom;
	background-size: 0.26rem 0.28rem;
	-webkit-background-size: 0.26rem 0.28rem;
	position: relative;
	top: -0.05rem;
}
.pay-info .pay-info-con .info-item:last-child span{
	float: right;
	color: #1BCFC6;
	font-size: 0.32rem;
}
/*协议*/
.agreement{
	margin-bottom: 0.2rem;
}
.agreement p{
	font-size: 0.24rem;
	padding: 0 3%;
	text-align: left;
	color: #333;
}
.agreement p i{
	display: inline-block;
	left: 0.14rem;
	top: 0.08rem;
	width: 0.3rem;
	height: 0.3rem;
	margin-right: 0.08rem;
	vertical-align: middle;
	border: 1px solid #ddd;
	background-color: #fff;
}

.agreement p i.active{
	background: url('../images/checked.jpg') no-repeat center center;
	background-size: 0.3rem 0.3rem;
	-webkit-background-size: 0.3rem 0.3rem;
}

.agreement p a{
	height: 0.4rem;
	line-height: 0.5rem;
	color: #1BCFC6;
}
.submit-btn{
	height: 0.7rem;
	width: 100%;
	border: 1px solid #EDEDED;
	padding: 0 2.5%;
	font-size: 0.32rem;
}
.submit-btn a{
	display: block;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background-color: #1BCFC6;
	border-radius: 0.1rem;
	color: #fff;
	font-size: 0.34rem;
}
.agreement-mask{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	font-size: 0.24rem;
	overflow-y: scroll;
	background-color: #fff;
}